.submitButton{
    width:200px;
    height:30px;
    background: yellow;
    cursor: pointer;
    float: left;
}

.item{
    float:left;
    margin-left:290px;
    margin-top:45px;
    font-size:15px;
    color:gray;
    font-weight: 450;
}