.item{
    float:left;
    margin-left:250px;
    margin-top:45px;
    font-size:15px;
    color:gray;
    font-weight: 450;
}

/* set the format of these items and button */

.checkButton{
    margin-left:600px;
    width:50px;
    height:30px;
    color:white;
    background: lightgreen;
    cursor: pointer;
    float: left;
    margin-top: 20px;
}

.input{
    float:left;
    font-size:15px;
    color:gray;
    font-weight: 450;
}

.text{
    float:left;
    width:150px;
    font-size:18px;
    color:gray;
    font-weight: 500;
}